include README.md
include LICENSE
recursive-include sdk/src/openagents/protocols */protocol_manifest.json
recursive-include sdk/src/openagents/configs *.yaml
recursive-include sdk/src/openagents/studio/build **/*
recursive-include sdk/src/openagents/templates **/*
recursive-include sdk/studio/build **/*
